<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ekrishibazaar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EKrishiBazaar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ViewMyOfferAdsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash"></activity>
        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ad_mob_app_id" />

        <activity
            android:name=".UpdateProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".ServiceAdsDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".PostTreeAndWoodsAdsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".PostServiceRentAdsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".PostOtherAgriAdsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".PostAgriculturalMachinaryAdsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".PostLabourAdsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".PostFertilizerAdsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".PostCattleAdsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".SelectCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".PostSellAdsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".PostNewAdsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".MyAdsDetail"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".MoreServicesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".AboutusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".ContactUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".AccountSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".ViewProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".FertilizerAdsDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".TreeAdsDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".TreeAndWoodDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".LabourAdDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".OtherAgriAdsDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".MachinaryAdsDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".ServiceInRentDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".CattleDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".AdaDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".AdsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".AllCategoryList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectLanguageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".RegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>